<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
        <div
            class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-sm sm:rounded-lg sm:px-10">
            <div class="mx-auto">
                <div class="divide-y divide-gray-300/50">
                    <div class="space-y-6 py-5 text-base leading-8 text-gray-600">
                        <p>Hi <b>dias.arifin@gmail.com</b>, <b>Google</b> is requesting access to:</p>
                        <ul class="space-y-4">
                            <li class="flex items-center">
                                <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="11" />
                                    <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
                                </svg>
                                <p class="ml-4">
                                    Control your smart home devices
                                </p>
                            </li>
                            <li class="flex items-center">
                                <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="11" />
                                    <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
                                </svg>
                                <p class="ml-4">
                                    See your smart home devices data
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="pt-7 text-center text-base">
                        <div class="text-center ">
                            <button
                                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Cancel</button>
                            <button
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Allow</button>
                        </div>
                        <p class="text-xs text-gray-900 mt-5">By clicking Allow, you allow this app to use your information in accordance with their terms of service and privacy policies.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>